<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewKarachun0304.tmshomeworkandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".hw9.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".hw10.widget.WeatherAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_app_widget_info" />
        </receiver>

        <activity android:name=".hw10.widget.WeatherAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".hw10.HomeWork10Activity" />

        <service android:name=".hw9.TimerService" />

        <activity android:name=".hw9.HomeWork9Activity" />
        <activity android:name=".hw8.HomeWork8Activity" />
        <activity android:name=".hw7.HomeWork7Activity" />
        <activity android:name=".hw6.HomeWork6Activity" />
        <activity android:name=".hw5.UserAccountHW5Activity" />
        <activity android:name=".hw5.HomeWork5Activity" />
        <activity android:name=".hw4.HomeWork4Activity" />
        <activity android:name=".hw3.HarvestActivityHW4" />
        <activity android:name=".hw2.AnimationActivity" />
        <activity android:name=".hw2.FlagsActivity" />
        <activity android:name=".hw2.HomeWork2Activity" />
        <activity android:name=".hw1.HomeWork1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>